{% extends "base.html.twig" %}
{% block body %}
    <div class="container m-3 p-2 bg-success text-white">
        "votre option a ete supprimer"
    </div>
    <button class="btn btn-secondary"><a href="{{path('option')}}">retour</a></button>
{% endblock body %}